<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="pw.lumm.dao.AnsewerMapper" >

    <insert id="addAnswer"  parameterType="pw.lumm.model.Answer" >
        insert into answer
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="aid != null and aid !=''" >
                aid,
            </if>
            <if test="content != null and content !=''" >
                content,
            </if>
            <if test="supportCnt != null and supportCnt !=''" >
                supportCnt,
            </if>
            <if test="opposeCnt != null and opposeCnt !=''" >
                opposeCnt,
            </if>
            <if test="answerTo != null and answerTo !=''" >
                answerTo,
            </if>
            <if test="time != null and time !=''" >
                time,
            </if>
            <if test="uid != null and uid !=''" >
                uid,
            </if>
            <if test="accept != null and accept !=''" >
                accept,
            </if>
            <if test="qid != null and qid !=''" >
                qid,
            </if>
            <if test="username != null and username !=''" >
                username,
            </if>
            <if test="toid != null and toid !=''" >
                toid,
            </if>
            <if test="questionTitle != null and questionTitle !=''" >
                questionTitle,
            </if>

        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="aid != null and aid !=''" >
                #{aid,jdbcType=VARCHAR},
            </if>
            <if test="content != null and content !=''" >
                #{content,jdbcType=VARCHAR},
            </if>
            <if test="supportCnt != null and supportCnt !=''" >
                #{supportCnt,jdbcType=VARCHAR},
            </if>
            <if test="opposeCnt != null and opposeCnt !=''" >
                #{opposeCnt,jdbcType=VARCHAR},
            </if>
            <if test="answerTo != null and answerTo !=''" >
                #{answerTo,jdbcType=VARCHAR},
            </if>
            <if test="time != null and time !=''" >
                #{time,jdbcType=TIMESTAMP},
            </if>
            <if test="uid != null and uid !=''" >
                #{uid,jdbcType=VARCHAR},
            </if>
            <if test="accept != null and accept !=''">
                #{accept,jdbcType=VARCHAR},
            </if>
            <if test="qid != null and qid !=''" >
                #{qid,jdbcType=VARCHAR},
            </if>

            <if test="username != null and username !=''" >
                #{username,jdbcType=VARCHAR},
            </if>
            <if test="toid != null and toid !=''" >
                #{toid,jdbcType=VARCHAR},
            </if>
            <if test="questionTitle != null and questionTitle !=''" >
                #{questionTitle,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <select id="getAnswerByUserId" parameterType="String" resultType="pw.lumm.model.Answer">
        select * from answer where uid = #{uid} order by time desc

    </select>
    <select id="getAnswerByNewId" parameterType="String"  resultType="pw.lumm.model.Answer">
        select * from answer where qid = #{n_id} order by time
    </select>
    <delete id="deleteByQid" parameterType="String">
        delete from answer where qid = #{id}

    </delete>

</mapper>