<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="pw.lumm.dao.NewsMapper" >
    <select id="getHotNews" resultType="pw.lumm.model.News">
        select * from news where type = #{0} order by readnum desc  limit #{1}
    </select>
    <select id="getNews" resultType="pw.lumm.model.News">
        select * from news where type = #{0} limit #{1}
    </select>


    <select id="getDetil" parameterType="String"  resultType="pw.lumm.model.NsNews">
        select * from nsnews where nsid = #{n_id}
    </select>
    <select id="getNewsById" parameterType="String"  resultType="pw.lumm.model.News">
        select * from news where nid = #{n_id}
    </select>

    <insert id="insertAnswer"  parameterType="pw.lumm.model.Answer" >
        insert into answer (aid, uid, qid, content, time, username) values (#{aid}, #{uid}, #{qid},#{content},#{time,jdbcType=TIMESTAMP},#{username})
    </insert>

    <select id="getAllNews" parameterType="String"  resultType="pw.lumm.model.News">
        select * from news
    </select>

    <update id="updateRead">
        update news set readnum = #{1} where nid=#{0}
    </update>
</mapper>