<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="pw.lumm.dao.UserMapper">
    <insert id="insertUser" parameterType="pw.lumm.model.User">
        insert into tb_user (uid, username, password, email, phone,joindate ) values (#{uid}, #{username},#{password},#{email},#{phone},#{joindate,jdbcType=TIMESTAMP})
    </insert>

    <select id="getByNameAndPwd"
            resultType="pw.lumm.model.User">SELECT * FROM tb_user WHERE username = #{0} and password = #{1}
</select>

    <select id="getAllUserByForum" resultType="pw.lumm.model.User">
      SELECT * FROM tb_user WHERE privilege = 1
    </select>

    <select id="getUserById" resultType="pw.lumm.model.User">
      SELECT * FROM tb_user WHERE uid = #{id}
    </select>

    <update id="setUserPrivilege">
        update tb_user set privilege=#{1} where uid = #{0}
    </update>
    <select id="checkUser" resultType="pw.lumm.model.User" parameterType="String">
      SELECT * FROM tb_user WHERE username = #{username}
    </select>
    <update id="setVisits" parameterType="int">
      update tb_user set visits = #{read}
    </update>
    <update id="setface">
      update tb_user set face = #{1} where uid = #{0}
    </update>


    <update id="updateUser" parameterType="pw.lumm.model.User">
        update tb_user
        <set>
            <if test="username != null">
                username = #{username},
            </if>
            <if test="password != null">
                password = #{password},
            </if>
            <if test="email != null">
                email= #{email},
            </if>
            <if test="face != null">
                face= #{face},
            </if>
            <if test="privilege != null">
                privilege= #{privilege},
            </if>
            <if test="lastlogin != null">
                lastlogin= #{lastlogin},
            </if>
            <if test="visits != null">
                visits= #{visits},
            </if>
            <if test="phone != null">
                phone= #{phone},
            </if>
            <if test="sign != null">
                sign= #{sign},
            </if>
            <if test="city != null">
                city= #{city},
            </if>
        </set>

            where uid = #{uid}

    </update>
    <insert id="addfriend" parameterType="pw.lumm.model.Friends">
        insert into friends (id, userid, friendid, status, date) values (#{id}, #{userid},#{friendid},#{status},#{date,jdbcType=TIMESTAMP})
    </insert>
    <update id="setFriendStatus">
        update friends set status = #{1} where id = #{0}
    </update>
    <select id="getFriendId" resultType="String">
      SELECT id FROM friends WHERE userid = #{0} and friendid = #{1}
    </select>

    <select id="getFriendsidByUid" resultType="pw.lumm.model.Friends">
      SELECT * FROM friends WHERE (userid = #{uid} or friendid =#{uid}) and status = 1
    </select>
    <update id="setStatus">
      update tb_user set status = #{1} where username = #{0}
    </update>
</mapper>