<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd">

    <context:component-scan base-package="pw.lumm.*"/>
    <mvc:annotation-driven/>

    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/views/"/>
        <property name="suffix" value=".jsp"/>
        <property name="order" value="10"/>
    </bean>
    <mvc:default-servlet-handler/>
    <!-- 文件上传解析器 -->
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <property name="defaultEncoding" value="UTF-8"></property>
        <!-- 设定文件上传的最大值50MB，50*1024*1024 -->
        <property name="maxUploadSize" value="52428800"></property>
    </bean>
    <!-- 配置资源映射 -->
    <!-- <mvc:resources mapping="/bootstrap/**" location="/Resources/bootstrap/" />
     <mvc:resources mapping="/kindeditor/**" location="/Resources/kindeditor/" />-->
    <mvc:interceptors>
        <mvc:interceptor>
            <mvc:mapping path="/question/add"/>
            <mvc:mapping path="/user/friendchat"/>
            <bean class="pw.lumm.interceptors.LoginInterceptor"/>
        </mvc:interceptor>
    <mvc:interceptor>
        <mvc:mapping path="/user/**"/>
        <mvc:mapping path="/question/**"/>
        <mvc:mapping path="/index"/>
        <mvc:mapping path="/answer/**"/>
        <bean class="pw.lumm.interceptors.MessageInterceptor">
    </bean>
    </mvc:interceptor>
    </mvc:interceptors>
</beans>